<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		<title>Electro - HTML Ecommerce Template</title>


		<!-- Google font -->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

		<!-- Bootstrap -->

		<link type="text/css" rel="stylesheet" href="../../static/css/shop-bootstrap.min.css"/>
		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->

		<!-- Slick -->
		<link type="text/css" rel="stylesheet" href="../../static/css/shop-slick.css"/>
		<link type="text/css" rel="stylesheet" href="../../static/css/shop-slick-theme.css"/>

		<!-- nouislider -->
		<link type="text/css" rel="stylesheet" href="../../static/css/shop-nouislider.min.css"/>

		<!-- Font Awesome Icon -->
		<link rel="stylesheet" href="../../static/css/shop-font-awesome.min.css">

		<!-- Custom stlylesheet -->
		<link type="text/css" rel="stylesheet" href="../../static/css/shop-style.css"/>

		<style>
			#map {
				height: 400px;
				width: 100%;
			}
		</style>
		
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

		<link href="../../static/css/slider-bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
		<link href="../../static/css/slider-style.css" rel="stylesheet" type="text/css" media="all"/>

    	<style>
	.carousel .item {
	background: -webkit-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url('../../static/images/banner1.jpg') no-repeat;
	background: -moz-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url('../../static/images/banner1.jpg') no-repeat;
	background: -ms-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url('../../static/images/banner1.jpg') no-repeat;
	background: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url('../../static/images/banner1.jpg') no-repeat;
	background-size: cover;
	}
	.carousel .item.item2 {
	background: -webkit-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url({'../../static/images/banner2.jpg') no-repeat;
	background: -moz-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url('../../static/images/banner2.jpg') no-repeat;
	background: -ms-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url('../../static/images/banner2.jpg') no-repeat;
	background: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url('../../static/images/banner2.jpg') no-repeat;
	background-size: cover;
	}

	.carousel .item.item3 {
	background: -webkit-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url('../../static/images/banner3.jpg') no-repeat;
	background: -moz-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url('../../static/images/banner3.jpg') no-repeat;
	background: -ms-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url('../../static/images/banner3.jpg') no-repeat;
	background: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url('../../static/images/banner3.jpg') no-repeat;
	background-size: cover;
	}

	.carousel .item.item4 {
	background: -webkit-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url('../../static/images/banner4.jpg') no-repeat;
	background: -moz-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url('../../static/images/banner4.jpg') no-repeat;
	background: -ms-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url('../../static/images/banner4.jpg') no-repeat;
	background: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url('../../static/images/banner4.jpg') no-repeat;
	background-size: cover;
	}
	
	</style>


    </head>
	<body>
	<!--Nav-Bar-->
<nav class="navbar navbar-inverse" id="cudu-nav" style="border-radius: 0px;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Cudu</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Shop</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
      <form class="navbar-form navbar-right">
        <!--<div class="form-group">-->
          <input type="text" class="form-control" placeholder="Search">
        <!--</div>-->
        <button type="submit" class="btn btn-secondary">Search</button>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!--Nav-Bar-->
		<!-- HEADER -->
		<header>
			<!-- MAIN HEADER -->
			<div id="header">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<!-- LOGO -->
						<div class="col-md-3">
							<div class="header-logo">
								<a href="#" class="logo">
									<img src="../../static/images/logo.png" alt="">
								</a>
							</div>
						</div>
						<!-- /LOGO -->

					<!-- row -->
				</div>
				<!-- container -->
			</div>
			<!-- /MAIN HEADER -->
			</div>
		</header>
		<!-- /HEADER -->

<!-- banner -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
        <li data-target="#myCarousel" data-slide-to="3" class=""></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                    <h3>Improving workplace <span>Productivity.</span></h3>
                    <p>Hire. Train. Inspire.</p>

                </div>
            </div>
        </div>
        <div class="item item2">
            <div class="container">
                <div class="carousel-caption">
                    <h3>Inspiring leadership <span>innovation.</span></h3>
                    <p>Hire. Train. Inspire.</p>

                </div>
            </div>
        </div>
        <div class="item item3">
            <div class="container">
                <div class="carousel-caption">
                    <h3><span>Building Trust.</span></h3>
                    <p>Hire. Train. Retain.</p>

                </div>
            </div>
        </div>

    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="fa fa-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="fa fa-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    <!-- The Modal -->
</div>
<!--//banner -->


		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- shop -->
					<div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img">
								<img src="../../static/images/shop01.png" alt="">
							</div>
							<div class="shop-body">
								<h3>20% OFF on<br>Laptops</h3>
							</div>
						</div>
					</div>
					<!-- /shop -->

					<!-- shop -->
					<div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img">
								<img src="../../static/images/shop03.png" alt="">
							</div>
							<div class="shop-body">
								<h3>10% OFF on<br>Headphones</h3>
							</div>
						</div>
					</div>
					<!-- /shop -->

					<!-- shop -->
					<div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img">
								<img src="../../static/images/shop02.png" alt="">
							</div>
							<div class="shop-body">
								<h3>15% OFF on<br>Cameras</h3>
							</div>
						</div>
					</div>
					<!-- /shop -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- HOT DEAL SECTION -->
		<div id="hot-deal" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<div class="hot-deal">
							<div id="clockdiv">
							<ul class="hot-deal-countdown">
								<li>
									<div>
										<h3 id="day"></h3>
										<h6 style="color:white">Days</h6>
									</div>
								</li>
								<li>
									<div>
										<h3 id="hour"></h3>
										<h6 style="color:white">Hours</h6>
									</div>
								</li>
								<li>
									<div>
										<h3 id="minute"></h3>
										<h6 style="color:white">Mins</h6>
									</div>
								</li>
								<li>
									<div>
										<h3 id="second"></h3>
										<h6 style="color:white">Secs</h6>
									</div>
								</li>
							</ul>
							</div>
							<h2 class="text-uppercase">hot deal this week</h2>
							<p>New Collection Up to 50% OFF</p>
							<a class="primary-btn cta-btn">Shop now</a>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /HOT DEAL SECTION -->


		<!-- SECTION OUR PRODUCTS -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title"><b>Our Products</b></h3>
						</div>
					</div>
					<!-- /section title -->

					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab1" class="tab-pane active">
									<div class="products-slick" data-nav="#slick-nav-1">
										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="../../static/images/product01.png" alt="">
												<div class="product-label">
													<span class="sale">-30%</span>
													<span class="new">NEW</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">Category</p>
												<h3 class="product-name"><a href="#">product name goes here</a></h3>
												<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="../../static/images/product02.png" alt="">
												<div class="product-label">
													<span class="new">NEW</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">Category</p>
												<h3 class="product-name"><a href="#">product name goes here</a></h3>
												<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="../../static/images/product03.png" alt="">
												<div class="product-label">
													<span class="sale">-30%</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">Category</p>
												<h3 class="product-name"><a href="#">product name goes here</a></h3>
												<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="../../static/images/product04.png" alt="">
											</div>
											<div class="product-body">
												<p class="product-category">Category</p>
												<h3 class="product-name"><a href="#">product name goes here</a></h3>
												<h4 class="product-price">Rs. 980.00 <del class="product-old-price">$990.00</del></h4>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="../../static/images/product05.png" alt="">
											</div>
											<div class="product-body">
												<p class="product-category">Category</p>
												<h3 class="product-name"><a href="#">product name goes here</a></h3>
												<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
											</div>
										</div>
										<!-- /product -->
									</div>
									<div id="slick-nav-1" class="products-slick-nav"></div>
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		
<!-- //testimonials -->
<div class="testimonials_section">
    <div class="container">
        <div class="tittle_head_w3ls">
            <h3 class="tittle">Message by the Owner</h3>
        </div>
        <div class="inner_sec_grids_info_w3ls">
            <div id="Carousel" class="carousel slide two">

                <ol class="carousel-indicators second">
                    <li data-target="#Carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#Carousel" data-slide-to="1"></li>
                    <li data-target="#Carousel" data-slide-to="2"></li>
                </ol>

                <!-- Carousel items -->
                <div class="carousel-inner">

                    <div class="carousel-item active">
                        <div class="testimonials_grid_wthree">
                            <img src="../../static/images/test1.jpg" alt=" " class="img-fluid"/>
                            <h4><i class="fa fa-quote-left" aria-hidden="true"></i> It has been the priority of the
                                company to keep its employees happy and feel that there inputs are taken into
                                consideration and are important for the company.
                            </h4>
                            <h5>Dan Adams</h5>

                        </div>

                    </div>
                    <!--.item-->
                    <div class="item">
                        <div class="testimonials_grid_wthree">
                            <img src="../../static/images/test2.jpg" alt=" " class="img-fluid"/>
                            <h4><i class="fa fa-quote-left" aria-hidden="true"></i> Employees are the most important
                                part of an organization and giving them all the imprortance is what is required and what
                                we always aspire to do.</h4>
                            <h5>Jessica Doe</h5>

                        </div>
                    </div>
                    <!--.item-->

                    <div class="item">
                        <div class="testimonials_grid_wthree">
                            <img src="../../static/images/test3.jpg" alt=" " class="img-fluid"/>
                            <h4><i class="fa fa-quote-left" aria-hidden="true"></i> Keeping our employees happy is our
                                first priority!!</h4>
                            <h5>Michael Doe</h5>

                        </div>
                    </div>
                    <!--.item-->

                </div>
                <!--.carousel-inner-->

            </div>
            <!--.Carousel-->

        </div>
    </div>
</div>


		<!-- CONTACT US -->
		<div id="newsletter" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<div class="newsletter">
							<h3 style="color:#fff;"><b>CONTACT US</b></h3><br>
							<h4 style="color:#fff;"><i class="fa fa-envelope-o"></i>&ensp; Email@gmail.com &emsp; | &emsp;
							<i class="fa fa-phone"></i>&ensp; +91-1234567890, +91-0987654321 </h4>
							<h4 style="color:#fff;"><i class="fa fa-map-marker"></i>&ensp; BML Munjal University, Gurgaon</h4>
							<br><ul class="newsletter-follow">
								<li>
									<a href="#"><i class="fa fa-facebook"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-twitter"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-instagram"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-pinterest"></i></a>
								</li>
							</ul><br>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- section title -->
					<div class="col-md-12">
						<div class="newsletter">
							<p><strong>Or Find us here!</strong></p>
						</div>
					</div>
				<div id="map"></div>
		   	<script>
				// Initialize and add the map
				function initMap() {
				// The location of Uluru
				var uluru = {lat: 28.247292, lng: 76.814579};
				// The map, centered at Uluru
				var map = new google.maps.Map(
				document.getElementById('map'), {zoom: 16, center: uluru});
				// The marker, positioned at Uluru
				var marker = new google.maps.Marker({position: uluru, map: map});
				}
			</script>
			<script async defer
				src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6bVd2VtMBYhR4XoD-40xuOHO8szYHf4k&callback=initMap">
			</script>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /CONTACT US -->

		<!-- SECTION RELATED PRODUCTS -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title"><b>Related Products</b></h3>

						</div>
					</div>
					<!-- /section title -->

					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab2" class="tab-pane fade in active">
									<div class="products-slick" data-nav="#slick-nav-2">
										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="../../static/images/product06.png" alt="">
												<div class="product-label">
													<span class="sale">-30%</span>
													<span class="new">NEW</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">Category</p>
												<h3 class="product-name"><a href="#">product name goes here</a></h3>
												<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="../../static/images/product07.png" alt="">
												<div class="product-label">
													<span class="new">NEW</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">Category</p>
												<h3 class="product-name"><a href="#">product name goes here</a></h3>
												<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="../../static/images/product08.png" alt="">
												<div class="product-label">
													<span class="sale">-30%</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">Category</p>
												<h3 class="product-name"><a href="#">product name goes here</a></h3>
												<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="../../static/images/product09.png" alt="">
											</div>
											<div class="product-body">
												<p class="product-category">Category</p>
												<h3 class="product-name"><a href="#">product name goes here</a></h3>
												<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="../../static/images/product01.png" alt="">
											</div>
											<div class="product-body">
												<p class="product-category">Category</p>
												<h3 class="product-name"><a href="#">product name goes here</a></h3>
												<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
											</div>
										</div>
										<!-- /product -->
									</div>
									<div id="slick-nav-2" class="products-slick-nav"></div>
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- /Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- FOOTER -->
		<footer id="footer">
			<!-- top footer -->
			<div class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-sm-3">
							<div class="footer">
								<h1 style="color:white;"><b>LOGO</b></h1>
							</div>
						</div>

						<div class="col-sm-2">
							<div class="footer">
								<h3 class="footer-title"><b>Get Started</b></h3>
								<ul class="footer-links">
									<li><a href="#">Home</a></li>
									<li><a href="#">Sign Up</a></li>
									<li><a href="#">Downloads</a></li>
								</ul>
							</div>
						</div>

						<div class="col-sm-2">
							<div class="footer">
								<h3 class="footer-title"><b>About us</b></h3>
								<ul class="footer-links">
									<li><a href="#">Company Information</a></li>
									<li><a href="#">Contact us</a></li>
									<li><a href="#">Review</a></li>
								</ul>
							</div>
						</div>

						<div class="col-sm-2">
							<div class="footer">
								<h3 class="footer-title"><b>Support</b></h3>
								<ul class="footer-links">
									<li><a href="#">FAQs</a></li>
									<li><a href="#">Help Desk</a></li>
									<li><a href="#">Forums</a></li>
								</ul>
							</div>
						</div>
						<div class="col-sm-2">
                   				<div class="social-networks">
                        			<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                       				 <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                       				 <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                    				</div>
              				      	<button type="button" class="btn btn-default">Contact us</button>
                				</div>


					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /top footer -->

			<!-- bottom footer -->
			<div id="bottom-footer" class="section">
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-12 text-center">
							<span class="copyright">
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Page by <a href="https://colorlib.com" target="_blank">Colorlib</a> and <a href="">CUDU</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</span>
						</div>
					</div>
						<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /bottom footer -->
		</footer>
		<!-- /FOOTER -->


		
		<!-- jQuery Plugins -->
		<script src="../../static/js/shop-jquery.min.js"></script>
		<script src="../../static/js/shop-bootstrap.min.js"></script>
		<script src="../../static/js/shop-slick.min.js"></script>
		<script src="../../static/js/shop-nouislider.min.js"></script>
		<script src="../../static/js/shop-jquery.zoom.min.js"></script>
		<script src="../../static/js/shop-main.js"></script>
		<script src="../../static/js/shop-countdown.js"></script>

	<script type="text/javascript" src="../../static/js/slider-jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="../../static/js/slider-bootstrap.js"></script>


	</body>
</html>
