<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/custom.css">
</head>
<body onscroll="scroll()">

<!--Nav-Bar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="cudu-nav" style="opacity: 0.4; transition: 0.5s ease">
        <a class="navbar-brand" href="#"><b>Cudu</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Shop</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>

            </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>

        </div>

    </nav>

<!--Nav-Bar-->
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <img src="../../static/images/cover-5.gif" class="img-fluid" alt="Responsive image" style="height: 500px; width: 100%; filter: brightness(75%) contrast(85%);" />
            <div class="cudu-text text-center" style="width: fit-content; height: fit-content; ">
                <p style="margin-bottom: -5rem; padding-left: auto; padding-right: auto;"><h1><b>CUDU</b></h1>MAKES YOUR BRAND MEET YOU<br/><br/>
                <button type="button" class="btn btn-light d-block mx-auto">GET STARTED</button></p>
            </div>
        </div>
    </div>

    <div class="row cudu-row" id="mann">
        <div class="col" style="background: #0c5460;">
            <img src="../../static/images/img2.jpg" class="img-fluid rounded-circle mx-auto d-block" style="width: 20rem; height: 20rem; margin-top: 80px; filter: grayscale(100%) brightness(90%) contrast(60%); " alt="Responsive image">
        </div>
        <div class="col" style="background: #637381;">
            <div class="cudu-padding">
                <h3>Some of the finest titanium frames in the world</h3>
                <p>We fell in love with the ride of titanium and named our company after it. No. 22 Bicycle Company produces titanium bikes and frames, proudly crafted in upstate NY.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col" style="background: #ba2121">
            <img src="../../static/images/img3.jpg" class="rounded mx-auto d-block img-fluid" alt="content" style="width: 50rem; height: 25rem; padding-top: 6rem; margin-bottom: 5rem; filter: grayscale(100%)">
        </div>
    </div>

    <div class="row">
        <div class="col" style="display: block; position: relative">
            <img src="../../static/images/target-shops.jpg" class="img-fluid" style="filter: grayscale(100%);">
            <div class="cudu-text text-center">&#9989;<br/>I am some text</div>
        </div>
        <div class="col">
            <img src="../../static/images/target-shops-1.jpg" class="img-fluid" style="filter: grayscale(100%);">
            <div class="cudu-text text-center">&#9989;<br/>I am some text</div>
        </div>
        <div class="col">
            <img src="../../static/images/target-shops-4.jpg" class="img-fluid" style="filter: grayscale(100%);">
            <div class="cudu-text text-center">&#9989;<br/>I am some text</div>
        </div>
    </div>

    <div class="row" style="background: black">
        <div class="col">
            <img src="/home/mann/Downloads/frame.png" class="img-fluid rounded mx-auto d-block" style="padding-top: 5rem; padding-bottom: 5rem;">
        </div>
        <div class="col">
            <div class="cudu-border" style="width: fit-content; height: fit-content; border: 2px solid white; margin-top: 3rem; border-radius: 2rem; margin-right: 5rem;">
                <p style="padding: 2rem 2rem 2rem 2rem;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.<br/><br/>
                <button type="button" class="btn btn-light d-block mx-auto">CREATE YOUR OWN</button></p>
            </div>
        </div>
    </div>


</div>
    
    <footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h2 class="logo"><a href="#"> LOGO </a></h2>
                </div>
                <div class="col-sm-2">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Sign up</a></li>
                        <li><a href="#">Downloads</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="#">Company Information</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Reviews</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help desk</a></li>
                        <li><a href="#">Forums</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <div class="social-networks">
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                    </div>
                    <button type="button" class="btn btn-default">Contact us</button>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2016 Copyright Text </p>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



<script>
    var x = document.getElementById('mann');
    var offSet = x.offsetTop;

    function scroll() {
        if (window.pageYOffset > offSet) document.getElementById('cudu-nav').style.opacity = 1;
        else document.getElementById('cudu-nav').style.opacity = 0.4;
    }
</script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>
