<html>
<head>
    <title>Welcome to TheBazaar</title>
     <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/base.css"  type="text/css" />
    <script src="js/jquery.min.js"></script>
</head>
<body>
    <div class="nav-bar">
        <ul class="nav">
            <div id="links">
                <li id="home"><a id="home" href="#"><b>HOME</b></a></li>
                <li id="contact"><a id="contact" href="#"><b>CONTACT US</b></a></li>
                <li id="shop"><a id="shop" href="#"><b>SHOP</b></a></li>
                <li id="about"><a id="about" href="#"><b>ABOUT</b></a></li>
            </div>
        </ul>
    </div>

     <!-- Slideshow container -->
    <div">
<div class="slideshow-container">

  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade">
    <div class="numbertext">1 / 2</div>
    <img src="/home/mann/cudu/website/src/static/images/slider1.jpg" style="width:100%">
    <div class="text">Caption Text</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">2 / 2</div>
    <img src="/home/mann/cudu/website/src/static/images/slider2.jpg" style="width:100%">
    <div class="text">Caption Two</div>
  </div>

  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
</div>
    </div>
<!-- Mayank -->
    <!--<ul id="flexiselDemo3">-->
				<!--<li><img src="/home/mann/cudu/website/src/static/images/board1.jpg" /></li>-->
				<!--<li><img src="/home/mann/cudu/website/src/static/images/board2.jpg" /></li>-->
				<!--<li><img src="/home/mann/cudu/website/src/static/images/board3.jpg" /></li>-->
				<!--<li><img src="/home/mann/cudu/website/src/static/images/board4.jpg" /></li>-->
				<!--<li><img src="/home/mann/cudu/website/src/static/images/board5.jpg" /></li>-->
			<!--</ul>-->
<!-- Mayank -->


<!-- Archit -->
												       
												       
												       <div class= "h_container">
		<div class="h_row">
			<div class="h_column">
				<div class="post">
					<img src="../../static/images/1.jpg" alt="" style="width:100%">
					<div class="post-s">
						<h2>Hover</h2>
					</div>
				</div>
			</div>
			<div class="h_column">
				<div class="post">
					<img src="../../static/images/2.jpg" alt="" style="width:100%">
					<div class="post-s">
						<h2>Hover</h2>
					</div>
				</div>
			</div>
			<div class="h_column">
				<div class="post">
					<img src="../../static/images/3.jpg" alt="" style="width:100%">
					<div class="post-s">
						<h2>Hover</h2>
					</div>
				</div>
			</div>
			<div class="h_column">
				<div class="post">
					<img src="../../static/images/4.jpg" alt="" style="width:100%">
					<div class="post-s">
						<h2>Hover</h2>
					</div>
				</div>
			</div>
		</div>
		</div>			

    <!--<div class="img-shops">-->
        <!--<div class="img-mask1"></div>-->
        <!--<a href="#"><img src="/home/mann/cudu/website/src/static/images/pic1.jpg"></a>-->
        <!--<div class="img-mask2"></div>-->
    <!--</div>-->

<!-- Archit -->

<!-- Footer -->
    <div class="footer">
        <div class="nearby">
            <ul class="nearby-ul">
                <span id="foot-span" style="color: white;"><b>NEARBY</b></span>
                <li id="op1"><a id="op1" href="#">Option1</a></li>
                <li id="op2"><a id="op2" href="#">Option2</a></li>
                <li id="op3"><a id="op3" href="#">Option3</a></li>
            </ul>
        </div>

        <div class="customer">
            <ul class="customer-ul">
                <span id="foot-span" style="color: white"><b>CUSTOMER</b></span>
                <li id="op1"><a id="op1" href="#">Option1</a></li>
                <li id="op2"><a id="op2" href="#">Option2</a></li>
                <li id="op3"><a id="op3" href="#">Option3</a></li>
            </ul>
        </div>

        <div class="email">
            <span style="color: white;"><b>SUBSCRIBE</b></span>
            <form>
                <input id="ip-txt" type="text" value="Enter your email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter your email';}">
                <input id="ip-bttn" type="submit" value="Go">
            </form>
        </div>

    </div>









<script>
    var slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}
</script>

<script type="text/javascript">
		$(window).load(function() {
			$("#flexiselDemo3").flexisel({
				visibleItems: 5,
				animationSpeed: 1000,
				autoPlay: true,
				autoPlaySpeed: 3000,
				pauseOnHover: true,
				enableResponsiveBreakpoints: true,
		    	responsiveBreakpoints: {
		    		portrait: {
		    			changePoint:480,
		    			visibleItems: 1
		    		},
		    		landscape: {
		    			changePoint:640,
		    			visibleItems: 2
		    		},
		    		tablet: {
		    			changePoint:768,
		    			visibleItems: 3
		    		}
		    	}
		    });

		});
		</script>
<script type="text/javascript" src="/home/mann/cudu/website/src/static/js/jquery.flexisel.js"></script>
</body>
</html>
