.cudu-padding{
    padding: 10rem 80px 10rem 80px;
    background: #637381;
    font-family: 'Raleway', sans-serif;
    color: white;
}

.container, .col{
    padding: 0px;
}

.cudu-text{
    position: absolute;
    color: white;
    top: 50%;
    left: 35%;
    font-size: 1.35rem;
}

.img-fluid:hover{
    transform: scale(1.01);
    //background-size: cover;
    transition: 0.5s ease;
}

h1{
    font-size: 9rem;
    font-family: 'Roboto Mono', monospace;
}
